# =========================
# Configuración del servidor
# =========================
DB_PORT=puerto_de_tu_servidor

# =========================
# Base de datos
# =========================
DB_HOST=nombre_de_host_de_tu_base_de_datos
DB_PORT=puerto_de_tu_base_de_datos
DB_USER=usuario_de_tu_base_de_datos
DB_PASS=password_de_tu_base_de_datos
DB_NAME=nombre_de_tu_base_de_datos

# =========================
# Autenticación
# =========================
JWT_SECRET=tu_secreto_seguro

# =========================
# Otros
# =========================